body {
    background-color: #2E4053;
    font-family: 'Brush Script MT', cursive;
}

label {
    color: crimson;
    font-size: 40px;
}

input {
    width: 250px;
    background-color: #2E4053;
    font-family: 'Brush Script MT', cursive;
    color: crimson;
    font-size: 40px;
}

.inp2 {
    background-color: #2E4053;
    font-family: 'Brush Script MT', cursive;
    color: crimson;
    font-size: 40px;
}

select {
    background-color: #2E4053;
    font-family: 'Brush Script MT', cursive;
    color: crimson;
    font-size: 30px;
}