body {
    background-color: #2E4053;
    font-family: 'Brush Script MT', cursive;
}

label {
    color: crimson;
    font-size: 30px;
}

.inp {
    width: 200px;
    background-color: #2E4053;
    font-family: 'Brush Script MT', cursive;
    color: crimson;
    font-size: 20px;
}

.inp2 {
    background-color: #2E4053;
    font-family: 'Brush Script MT', cursive;
    color: crimson;
    font-size: 20px;
}

select {
    background-color: #2E4053;
    font-family: 'Brush Script MT', cursive;
    color: crimson;
    font-size: 20px;
}